.DS_STORE

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/E


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc
MANIFEST

*.log
*.pt
tb_log/
cache/
checkpoints/
